aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiosignal==1.3.2
asgiref==3.11.1
attrs==25.3.0
audioop-lts==0.2.1
certifi==2025.10.5
charset-normalizer==3.4.4
contourpy==1.3.3
cycler==0.12.1
Django==6.0.4
fonttools==4.60.1
frozenlist==1.6.2
idna==3.10
kiwisolver==1.4.9
matplotlib==3.10.7
multidict==6.4.4
numpy==2.3.4
packaging==25.0
pillow==12.0.0
portalocker==3.2.0
propcache==0.3.1
psutil==7.2.1
pyasn1==0.6.2
pycryptodome==3.23.0
pycryptodomex==3.23.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
pywin32==311
pyzipper==0.3.6
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.14.0
tzdata==2026.1
urllib3==2.5.0
yarl==1.20.0
